.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #dd2476, #ff512f);
	color: white;
	p {
		padding: 1rem;
		a {
			color: white;
			text-decoration: none;
		}
	}
}
