@import "../../responsive.scss";
.edit {
margin-top: 1rem;
}
.edit-profile {
	background-color: white;
	max-width: 400px;
	padding: 2rem;
	margin: auto;
	form {
		p{
			width: 100px;
			height: 100px;
			border: 1px solid;
		}
		.input {
			position: relative;
			span {
				position: absolute;
				left: 10px;
				top: 35%;
				margin-right: 10px;
			}
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		input {
			font-family: var(--font-form);
			font-size: 16px;
			max-width: 300px;
			padding: 1rem 2rem;
			width: 300px;
			height: 40px;
			border-radius: 5px;
			display: block;
			margin: 0.5rem 0;
			border: 1px solid black;
			outline: none;
			&::placeholder {
				font-size: 14px;
				color: black;
			}
		}
		button {
			display: flex;
			align-content: center;
			justify-content: center;
			color: white;
			background-color: black;
			width: 150px;
			cursor: pointer;
			font-size: 17px;
			margin-top: 1rem;
			border-radius: 5px;
			padding: 0.5rem 1rem;
		}
	}
	
}


