@import "../../responsive.scss";
.navbar {
	position: relative;
	background: linear-gradient(to right, #ff512f, #dd2476);
	max-width: 100%;
	margin: auto;
	display: flex;
	// align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	.logo {
		display: flex;
		align-items: center;
		width: fit-content;
		padding: 0 0.5rem;
		font-size: 20px;
		font-style: italic;
		font-weight: 500;
		@include medium-down {
			padding: 1rem 0.5rem;
		}
		.a {
			color: rgb(236, 241, 248);
		}
		.b {
			color: rgb(145, 173, 173);
		}
	}
	.links {
		@include medium-down {
			display: none;
		}
		color: white;
		display: flex;
		padding: 0.5rem 0;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		span {
			margin: 0 1rem;
			padding: 0.5rem;
			display: block;
		}
	}
	.menubar {
		@include medium-up {
			display: none;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		.bar {
			width: 20px;
			cursor: pointer;
		}
	}
	.toggleLinks {
		@include medium-up {
			display: none;
		}
		.close {
			width: 20px;
			cursor: pointer;
			margin-top: 10px;
			margin-left: 10px;
		}
		span {
			margin: 0 1rem;
			padding: 0.5rem;
			display: block;
			color: white;
		}
		z-index: 2;
		transition: 0.5s;
		position: absolute;
		width: 200px;
		right: 0;
		background: black;
		display: flex;
		height: 100vh;
		flex-direction: column;
	}
}
